<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  <link 
    rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
    integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" 
    crossorigin="anonymous">
  <script>
    window.CURRENT_USER = "{{ session['email'] if session.get('email') else '' }}";
  </script>  
  <title>Udacity Pet Catalog</title>
</head>

<body>
  <header>
    <div class="mdl-layout mdl-js-layout">
      <header class="mdl-layout__header mdl-layout__header--scroll">
        <div class="mdl-layout__header-row">
          <a href="/" class="mdl-navigation__link">
            <span class="mdl-layout-title">
              Udacity Pet Catalog
            </span>
          </a>  
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            {% if session.get("email") %}
              <div class="user">
                <img class="user__picture" src="{{ session['picture'] }}" alt="Picture"></img>
                <span class="user__name">{{ session['name'] }},</span>
                <a class="user__logout" href="/gdisconnect">
                  Logout
                </a>
              </div>
            {% else %}
              <a id="google-login" class="mdl-navigation__link">
                <i class="fab fa-google-plus-g"></i>
                Sign in
              </a>
            {% endif %}
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          {% block content %}
          {% endblock %}
				</div>
      </main>
      <div class="flash-container">
		    {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="flash-message">
            {% for message in messages %}
              <div class="flash-message__text">
                <strong> {{ message }} </strong>
              </div>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
      </div>
    </div>

    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
  </body>
</html>