<div class="new-pets__container">
	<table class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
		<thead>
			<tr>
				<th class="mdl-data-table__cell--non-numeric">New Pet</th>
				<th class="mdl-data-table__cell--non-numeric">Family</th>
				<th class="mdl-data-table__cell--non-numeric">Created At</th>
				<th class="mdl-data-table__cell--non-numeric"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
				<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
				<td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
				<td class="mdl-data-table__cell--non-numeric">
					<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
						<i class="material-icons">search</i>
					</button>
					<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
						<i class="material-icons">create</i>
					</button>
					<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
						<i class="material-icons">remove</i>
					</button>
				</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
				<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
				<td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
			<tr>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
				<td class="mdl-data-table__cell--non-numeric">
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">search</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">create</i>
						</button>
						<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
							<i class="material-icons">remove</i>
						</button>
					</td>
			</tr>
		</tbody>
	</table>
</div>