#google-login {
  cursor: pointer;
}

.fab.fa-google-plus-g::before {
  color: orangered;
}

.user {
  display: inline-flex;
}

.user__name {
  line-height: 64px;
  font-weight: 600;
}

.user__logout {
  line-height: 64px;
  cursor: pointer;
  padding: 0 8px;
  color: white;
}

.user__picture {
  width: 50px;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
}

.home-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 10px;
  grid-column-gap: 15px;
}

.new-pets__title {
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
}
 
.pet-family__container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 10px;
}

.pet-family__card.mdl-card {
  width: 100%;
}
.pet-family__card > .mdl-card__title {
  color: #fff;
  height: 25vh;
}
.pet-family__card > .mdl-card__menu {
  color: #fff;
}
